doctype html
html
  head
    title Home - Sistema de Trazabilidad de Vacunas
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    // Puedes agregar estilos CSS aquí
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
      .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
      }
      header {
        background-color: #007bff;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 60px
      }
      h1 {
        margin: 0;
      }
      .content {
        margin-top: 20px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      footer {
        text-align: center;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        position: fixed;
        bottom: 0;
        width: 100%;
      }

  body
    include ./partials/header.pug

    .container
      .content
        h2 Bienvenido al Sistema de Trazabilidad de Vacunas
        p Este sistema te permitirá gestionar y hacer seguimiento de la distribución y aplicación de vacunas en todo el país.
        ul
          li Administrar las vacunas disponibles
          li Ver el estado de los lotes
          li Generar reportes de vacunación
          li Registrar la aplicación de vacunas

    footer
      p &copy; 2024 Ministerio de Salud de la Nación Argentina
